<form novalidate [formGroup]="user" id="signUpForm">
    <label>
        <span>Name</span>
        <input formControlName="name" type="text" placeholder="Your name">
    </label>
    <!-- user.controls.name.touched  -->
    <div class="error" *ngIf="(name?.touched || submitted) && name.hasError('required')">
        Toto pole je povinne
    </div>

    <div formGroupName="account">
        <label>
            <span>Email</span>
            <input formControlName="email" type="text" placeholder="Your email">
        </label>
        <div class="error" *ngIf="account.get('email')?.hasError('isNotUnique')">
            Tento email neni validni
        </div>
        <div class="error" *ngIf="account.get('email')?.hasError('isNotUniqueAsync')">
            Tento email neni validni asynchronne
        </div>

        <label>
            <span>Confirm email</span>
            <input formControlName="confirm" type="text" placeholder="Your email again">
        </label>
    </div>

</form>


<button form="signUpForm" (click)="onSubmit()">Sign up</button>