<!-- <button mat-raised-button color="primary">Primary</button>
<app-layout-with-sidebar></app-layout-with-sidebar> -->

<!-- <app-login-form></app-login-form> -->

<!-- <router-outlet></router-outlet> -->

<!-- <div appHighlight highlightColor="red">Ahoj</div>
<div appHighlight highlightColor="yellow">Ahoj</div>
<div appHighlight>Ahoj</div>
<div appHighlight>Ahoj</div>
<div appHighlight>Ahoj</div> -->

<!-- <app-signup-form></app-signup-form> -->

<app-reactive-signup-form></app-reactive-signup-form>